sudo: required

services:
  - docker 

before_install:
  - docker build -t aa/angular-frontend --build-arg configuration=""
  - docker images

script:
  - docker run -d -p 80:80 aa/angular-frontend
  - docker ps -a