<div *ngIf="!distribution">
  Please wait while the distribution is loaded.
</div>
<ul class="list-group" style="height: 100%; overflow-y: auto">
  <li *ngFor="let slice of distribution" class="list-group-item">
    <div class="ml-1" style="display:inline">
      {{slice.name}}
    </div>
    <span class="tag tag-default float-xs-left">
      {{slice.weight}}
    </span>
    <button type="button" class="close" aria-label="Close" (click)="removeSlice(slice)">
            <span aria-hidden="true">&times;</span>
          </button>
  </li>
</ul>
