#graph {
  display: block;
}

@media only screen and (min-width:300px) {
  .graph-container {
    width: 90vw;
    height: 40vh;
  }
}

@media only screen and (min-width:700px) {
   :host {
    float: left;
    width: 100%;
    height: 40vh;
  }
  .graph-container {
    width: 90vw;
    height: 40vh;
  }
}

@media only screen and (min-width:1000px) {}
