:host {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
}

@media only screen and (min-width:300px) {
  #title {
    display: none;
  }
}

@media only screen and (min-width:700px) {
  #title {
    display: block;
    height: 10vh;
    width: 100vw;
    max-width: 100vw;
    text-align: center;
    background-color: #96858F;
  }
}

@media only screen and (min-width:1000px) {}
