<form onsubmit="return false" style="margin-top: 1vh; margin-bottom: 1vh">
  <div class="input-group mb-1">
      <span class="input-group-addon" id="basic-addon1">Name</span>
    <input type="text" class="form-control" #name placeholder="Enter name" required/>
  </div>
  <div class="input-group mb-1">
  <span class="input-group-addon" id="basic-addon1">weight</span>
    <input type="number" min="0" max="100" class="form-control" #weight placeholder="Enter Weight" required/>
  </div>
  <button class="btn btn-primary btn-block" (click)="addSlice(name.value,weight.value)">Add Slice</button>
</form>
